$primaryColor: #00a8e9;
$secondaryColour: #151515;
$tertiaryColour: #ffffff;

$primaryFont: "Oswald", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$tertiaryFont: Verdana, Geneva, Tahoma, sans-serif;
